* {
  margin: 0;
  top: 0
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-align: right;
  color: white;
  padding-top: 75px;
  padding-right: 50px;
}
#tag {
  font-size: 30px;
}
#title {
  border-style: border-box;
  width: 100%;
  height: 250px;
  background-color: rgb(230, 127, 146);
}
#nastyfish {
  position: absolute;
  top: 50px;
  left: 50px;
}
#nastyfishpic {
  width: 60%;
}
body {
  background-color: rgb(210, 251, 251);
}
#blocktwo {
  background-color: white;
  height: 300px;
}
.info {
  list-style: none;
}
#description {
  box-sizing: border-box;
  float: left;
  width: 60%;
  text-align: center;
  font-family: helvetica;
  font-size: 20px;
  color: rgb(65, 65, 65);
  background-color: white;
}
#description p {
  align-items: center;
  padding-top: 7%;
  padding-right: 12%;
}
#descriptionpic {
  padding-top: 3%;
  width: 40%;
  text-align: center;
  float: left;
  background-color: white;
}
#littlefish {
  width: 240px;
}
#contact {
  width: 30%;
  border-style: border-box;
  height: 200px;
  padding: 2%;
  margin: 3% 7%;
  font-family: georgia;
  font-size: 20px;
}
#family {
  box-sizing: border-box;
  text-align: right;
  float: left;
  width: 60%;
}
#familypic {
  width: 95%;
}
#storyblock {
  width: 100%;
  background-color: inherit;
  position: relative;
}
#stories {
  box-sizing: border-box;
  float: left;
  width: 40%;
  border-style: border-box;
  font-family: helvetica;
  font-size: 20px;
}
#quotes {
  text-align: center;
  /*padding-left: 20%;*/
  padding-top: 10%;
}
#stories p {
  text-align: left;
  text-align: left;
  font-size: 14;
  padding-left: 5%;
  padding-top: 5%;
}
.clearfix {
  clear: both;
}
#bigfish {
  width: 100%;
}
#bigfishimg {
  width: 100%;
}
#copyright {
  font-family: georgia;
  font-size: 25px;
  color: white;
  text-align: center;
  background-color: grey;
}
.bold {
  font-weight: bolder;
}
tr:nth-child(3n){
  background-color: pink;
}
th {
  background-color: darkgrey;
  color: white;
}
